body{
    background-color: #5CACEE;

}
.container{

    background-color: #5CACEE;
    font: 15pt Arial, sans-serif;
    color: #F0FFFF;

    float: center;


}

.content-box{

    display: flex;

    justify-content:center;

    align-items: center;
    box-sizing: border-box;

    text-align: center;

    padding: 35px;



}

.content{

    display: inline;
    align-text: center;

}


span{

    font-weight: 900;

}

.livro{

    width: 320px;

    background-color:#fff;
    border-width:3px;
    border-style:solid;
    border-bottom-color:#aaa;
    border-right-color:#aaa;
    border-top-color:#ddd;
    border-left-color:#ddd;
    border-radius:3px;

    -moz-border-radius:3px;

    -webkit-border-radius:3px;
}

.botao{

    text-align: center;
    padding: 25px;
}

.comprar{

    font: 15pt Arial, sans-serif;


    border: solid;
    border-radius: 8px;
    border-color: #87CEEB;

    background-color: #87CEFA;

    padding: 15px;

}

#mp{

    width:100px;
}