:root{
	--color-x: #222;
	--color-y: #FFFFF0;
	--texto: 'Gogh', cursive;
}


article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: flex;
	flex-direction: column;
}

section{
	
	/* background-color: #FFFAF0; */
	
}

footer{
	
	text-align: center;
	
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 50px;
	
	border-top: 6px solid var(--color-y);
	background: #222;
	color: var(--color-y);

	justify-content: center;
		
}

footer li img{
	 cursor: pointer;
}

li {
	list-style-type: none;
}
.icones{
	
	width: 30px;
	height: 30px;
	object-fit: cover;
	
}
.content-box{
	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 300px 300px;
	grid-column-gap: 50px;
	grid-row-gap: 50px;
	
	padding: 50px;
		
}


.content {
	box-shadow: 0px 4px 10px -5px;
	border-radius: 20px;
	padding: 25px;

	font-family: var(--texto);
	font-size: 25px;
	
	color: #000;
	text-align: center;
	justify-content: center;
}

.content:hover {
	color: #000;
	background-color: #c1c2c4;
	animation-duration: 3s;
	opacity: 0.3;
}

.texto {
	
  position: relative;
  top: 8px;
  left: 16px;
}

.imagens{
	float: left;
    width:  100%;
    height: 200px;
    object-fit: cover;
	padding: 15px;
}

/* Certificações */

.section-text {
	
	font: 32px var(--texto);
	
	text-align: center;
	
	background-color: #1d1d22;
	
	height: 400px;
	width: 100%;
	/* margin-top: 100px; */
	color: var(--color-y);
	padding: 50px;
	border-top: 6px solid var(--color-y);
	border-radius: 18px;

	background-color: #1d1d22;
	color: #fff;
	text-shadow: 6px 3px 4px black;

}

.section-text-head {
	font: 22px var(--texto);
	text-align: center;
	background-color: var(--color-x);
	height: 55px;
	width: 100%;
	/* margin-top: 100px */
	color: var(--color-y);
	padding: 6px;
	  padding-top: 6px;
	  padding-right: 6px;
	  padding-bottom: 6px;
	  padding-left: 6px;
	border-top: 0px solid var(--color-y);
}

.habilidades {
	height: 800px;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16%;
}

.thumb {
  border: 1px solid var(--color-y);
  border-radius: 4px;
  padding: 5px;
  width: 235px;
  transition: 0.3s;
}

.thumb:hover {
	background-color: var(--color-y);
}


#skills {
	line-height: 3.0em;
	background-color: #1d1d22;
	color: #fff;
	text-shadow: 6px 3px 4px black;
}