:root{
	--color-x: #222;
	--color-y: #FFFFF0;
	--texto: 'Gogh', cursive;
}


article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: flex;
	flex-direction: column;
}

section{
	
	/* background-color: #FFFAF0; */
	
}

footer{
	
	text-align: center;
	
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 50px;
	
	border-top: 6px solid #0d1e7a;
	background: #fff;
	color: #080808;

	padding: 8px;

	justify-content: center;
		
}

footer li img{
	 cursor: pointer;
}

li {
	list-style-type: none;
}
.icones{
	
	width: 30px;
	height: 30px;
	object-fit: cover;
	
}
.content-box{
	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 300px 300px;
	grid-column-gap: 50px;
	grid-row-gap: 50px;
	
	padding: 50px;
		
}


.content {
	box-shadow: 0px 4px 10px -5px;
	border-radius: 20px;
	padding: 25px;

	font-family: Arial;
	font-size: 25px;
	
	color: #000;
	text-align: center;
	justify-content: center;
}

.content:hover {
	color: #000;
	background-color: #c1c2c4;
	animation-duration: 3s;
	opacity: 0.3;
}

.texto {
	
  position: relative;
  top: 8px;
  left: 16px;
}

.imagens{
	float: left;
    width:  100%;
    height: 200px;
    object-fit: cover;
	padding: 15px;
}

/* Certificações */

.section-text {
	
	font: 32px Arial;
	
	text-align: center;
	
	background-color: #1d1d22;
	
	height: 400px;
	width: 100%;
	margin-top: 100px;
	color: var(--color-y);
	padding: 50px;
	border-top: 6px solid var(--color-y);
	border-radius: 18px;

	background-color: #1d1d22;
	color: #fff;
	text-shadow: 6px 3px 4px black;

}

.section-text-head {
	font: 22px Arial;
	text-align: center;
	background-color: var(--color-x);
	height: 55px;
	width: 100%;
	/* margin-top: 100px */
	color: var(--color-y);
	padding: 6px;
	  padding-top: 6px;
	  padding-right: 6px;
	  padding-bottom: 6px;
	  padding-left: 6px;
	border-top: 0px solid var(--color-y);
}

.habilidades {
	height: 800px;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16%;
}


#skills {
	line-height: 3.0em;
	background-color: #1d1d22;
	color: #fff;
	text-shadow: 6px 3px 4px black;
}

.item-img{
	width: 100%;
}

.section-text-sp {

    font: 32px Arial;
    text-align: center;
    background-color: #1d1d22;
    height: 1000px;
    width: 100%;
    margin-top: 100px;
    color: var(--color-y);
    padding: 50px;
    border-top: 6px solid var(--color-y);
    border-radius: 18px;
    background-color: #1d1d22;
    color: #fff;
    text-shadow: 6px 3px 4px black;

}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.slides {
  display: none;
}

/* Next & previous buttons */
.prev {
	cursor: pointer;
	position: absolute;
	/* top: 50%; */
	/* width: auto; */
	margin-top: -40%;
	padding: 16px;
	font-weight: bold;
	font-size: 48px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;

	margin-left: -55%;
}

.next {
  cursor: pointer;
  position: absolute;
  /* top: 50%; */
  /* width: auto; */
  margin-top: -40%;
  padding: 16px;
  font-weight: bold;
  font-size: 48px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;

  margin-right: -4.5%;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
