@media only screen and (max-width: 1570px) and (min-width: 1340px){

	.content{
	
	font-size: 26px;

	}
	
	#certificado{
	width:782px;
	height:605px;
	border: 3px solid #00008B;
	border-radius: 5px;
	
	}

}

@media only screen and (max-width:1340px) and (min-width: 724px)  {
	
	.content-box{
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 300px 300px 300px;
	grid-column-gap: 50px;
	grid-row-gap: 50px;
	
	padding: 50px;
		
	}
	
	.content{
	
	font-size: 26px;

	}
	
	#certificado{
	width:430px;
	height:332px;
	border: 3px solid #00008B;
	border-radius: 5px;
	
	}


}

@media only screen and (max-width:724px){
	
	.content-box{
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 300px;
	grid-column-gap: 50px;
	grid-row-gap: 50px;
	
	padding: 50px;
		
	}
	
	.content{
	
	font-size: 16px;

	}
	
	#certificado{
	width:518px;
	height:400px;
	border: 3px solid #00008B;
	border-radius: 5px;
	
	}
	
	.slot {
	background-color: #00008B;
	height: 120px;
	width: 100%;
	margin-top: 100px;
	color: white;
	
	border-top: 6px solid #FFD700;
	}
	
}
