
@media only screen and (max-width: 1570px) and (min-width: 1340px){

	.content{
	
	font-size: 26px;

	}
	

	.thumb {
	  border: 1px solid var(--color-y);
	  border-radius: 4px;
	  padding: 5px;
	  width: 100px;
	  transition: 0.3s;
	}
	

}


@media only screen and (max-width:1340px) and (min-width: 724px)  {
	
	.content-box{
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 300px 300px 300px;
	grid-column-gap: 50px;
	grid-row-gap: 50px;
	
	padding: 50px;
		
	}
	
	.content{
	
	font-size: 26px;

	}
	
	
	.thumb {
	  border: 1px solid var(--color-y);
	  border-radius: 4px;
	  padding: 5px;
	  width: 80px;
	  transition: 0.3s;
	}

}

@media only screen and (max-width:724px){
	
	.content-box{
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 300px;
	grid-column-gap: 50px;
	grid-row-gap: 50px;
	
	padding: 50px;
		
	}
	
	.content{
	
	font-size: 16px;

	}
	
	.thumb {
	  border: 1px solid var(--color-y);
	  border-radius: 4px;
	  padding: 5px;
	  width: 50px;
	  transition: 0.3s;
	}
	
	.section-text {
	
	font: 16px var(--texto);
	
	text-align: center;
	
	
	
	}
	.habilidades {
	height: 800px;
	}


	.section-text {
	
	font: 15px var(--texto);
	
}
	
}
